.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
    position: absolute;
}
.leaflet-container {
    outline: 0 none;
    overflow: hidden;
}
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
    -moz-user-select: none;
}
.leaflet-marker-icon, .leaflet-marker-shadow {
    display: block;
}
.leaflet-clickable {
    cursor: pointer;
}
.leaflet-dragging, .leaflet-dragging .leaflet-clickable {
    cursor: move;
}
.leaflet-container img {
    max-width: none !important;
}
.leaflet-container img.leaflet-image-layer {
    max-width: 15000px !important;
}
.leaflet-tile-pane {
    z-index: 2;
}
.leaflet-objects-pane {
    z-index: 3;
}
.leaflet-overlay-pane {
    z-index: 4;
}
.leaflet-shadow-pane {
    z-index: 5;
}
.leaflet-marker-pane {
    z-index: 6;
}
.leaflet-popup-pane {
    z-index: 7;
}
.leaflet-tile {
    filter: inherit;
    visibility: hidden;
}
.leaflet-tile-loaded {
    visibility: inherit;
}
.leaflet-zoom-box {
    height: 0;
    width: 0;
}
.leaflet-control {
    pointer-events: auto;
    position: relative;
    z-index: 7;
}
.leaflet-top, .leaflet-bottom {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}
.leaflet-top {
    top: 0;
}
.leaflet-right {
    right: 0;
}
.leaflet-bottom {
    bottom: 0;
}
.leaflet-left {
    left: 0;
}
.leaflet-control {
    clear: both;
    float: left;
}
.leaflet-right .leaflet-control {
    float: right;
}
.leaflet-top .leaflet-control {
    margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
    margin-left: 10px;
}
.leaflet-right .leaflet-control {
    margin-right: 10px;
}
.leaflet-control-zoom {
    /*border-radius: 7px 7px 7px 7px;*/
}
.leaflet-control-zoom {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
}
.leaflet-control-zoom a {
    background-color: rgba(255, 255, 255, 0.75);
}
.leaflet-control-zoom a, .leaflet-control-layers a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
.leaflet-control-zoom a {
/*    border-radius: 4px 4px 4px 4px;*/
    height: 19px;
    width: 19px;
}
.leaflet-control-zoom a:hover {
    background-color: #FFFFFF;
}
.leaflet-touch .leaflet-control-zoom a {
    height: 27px;
    width: 27px;
}
.leaflet-control-zoom-in {
    background-image: url("images/zoom-in.png");
    margin-bottom: 5px;
}
.leaflet-control-zoom-out {
    background-image: url("images/zoom-out.png");
}
.leaflet-control-layers {
    background: none repeat scroll 0 0 #F8F8F9;
/*    border-radius: 8px 8px 8px 8px;*/
    box-shadow: 0 1px 7px #999999;
}
.leaflet-control-layers a {
    background-image: url("images/layers.png");
    height: 36px;
    width: 36px;
}
.leaflet-touch .leaflet-control-layers a {
    height: 44px;
    width: 44px;
}
.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}
.leaflet-control-layers-expanded {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 6px 10px 6px 6px;
}
.leaflet-control-layers input {
    margin-top: 2px;
    position: relative;
    top: 1px;
}
.leaflet-control-layers label {
    display: block;
}
.leaflet-control-layers-separator {
    border-top: 1px solid #DDDDDD;
    height: 0;
    margin: 5px -10px 5px -6px;
}
.leaflet-container .leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #BBBBBB;
    margin: 0;
}
.leaflet-control-attribution, .leaflet-control-scale-line {
    color: #333333;
    padding: 0 5px;
}
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font: 11px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.leaflet-left .leaflet-control-scale {
    margin-left: 5px;
}
.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
}
.leaflet-control-scale-line {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: -moz-use-text-color #777777 #777777;
    border-image: none;
    border-right: 2px solid #777777;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    color: black;
    font-size: 10px;
    line-height: 1;
    padding-bottom: 2px;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.leaflet-control-scale-line:not(:first-child) {
    border-bottom: medium none;
    border-top: 2px solid #777777;
    margin-top: -2px;
    padding-top: 1px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom: 2px solid #777777;
}
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers {
    box-shadow: none;
}
.leaflet-touch .leaflet-control-layers {
    border: 5px solid #BBBBBB;
}
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    transition: opacity 0.2s linear 0s;
}
.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
    transition: transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 0.75) 0s;
}
.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
    transition: none 0s ease 0s;
}
.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}
.leaflet-popup {
    position: absolute;
    text-align: center;
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
}
.leaflet-popup-content {
    margin: 14px 20px;
}
.leaflet-popup-tip-container {
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40px;
}
.leaflet-popup-tip {
    height: 15px;
    margin: -8px auto 0;
    padding: 1px;
    transform: rotate(45deg);
    width: 15px;
}
.leaflet-container a.leaflet-popup-close-button {
    color: #C3C3C3;
    font: bold 16px/14px Tahoma,Verdana,sans-serif;
    height: 14px;
    padding: 4px 5px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 18px;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    color: #999999;
}
.leaflet-popup-content p {
    margin: 18px 0;
}
.leaflet-popup-scrolled {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    overflow: auto;
}
.leaflet-container {
    background: none repeat scroll 0 0 #DDDDDD;
}
.leaflet-container a {
    color: #0078A8;
}
.leaflet-container a.leaflet-active {
    outline: 2px solid orange;
}
.leaflet-zoom-box {
    background: none repeat scroll 0 0 white;
    border: 2px dotted #0055FF;
    opacity: 0.5;
}
.leaflet-div-icon {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
}
.leaflet-editing-icon {
    border-radius: 2px 2px 2px 2px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 3px 10px #888888;
}
.leaflet-popup-content-wrapper {
/*    border-radius: 20px 20px 20px 20px;*/
}
.leaflet-popup-content {
    font: 12px/1.4 "Helvetica Neue",Arial,Helvetica,sans-serif;
}
